---

services:
  traefik:
    image: traefik:v3
    restart: always
    networks:
      proxy:
        ipv4_address: 10.254.0.10
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - 80:80
      - 443:443/tcp
      - 443:443/udp
      - 2376:2376
    command:
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http3"
      - "--entrypoints.websecure.transport.respondingTimeouts.readTimeout=600s"
      - "--entrypoints.websecure.transport.respondingTimeouts.writeTimeout=600s"
      - "--entrypoints.websecure.transport.respondingTimeouts.idleTimeout=600s"
      - "--entrypoints.websecure.forwardedHeaders.insecure=false"
      - "--entrypoints.websecure.forwardedHeaders.trustedIPs=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22,2400:cb00::/32,2606:4700::/32,2803:f800::/32,2405:b500::/32,2a06:98c0::/29,2c0f:f248::/32"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entryPoint.permanent=true"
      - "--entrypoints.web.forwardedHeaders.insecure=false"
      - "--entrypoints.web.forwardedHeaders.trustedIPs=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22,2400:cb00::/32,2606:4700::/32,2803:f800::/32,2405:b500::/32,2a06:98c0::/29,2c0f:f248::/32"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.file.directory=/dynamic-config"
      - "--providers.file.watch=true"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.letsencrypt.acme.email=${CF_EMAIL}"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.cloudflareresolver.acme.dnschallenge.resolvers=1.1.1.1,1.0.0.1"
      - "--certificatesresolvers.tailresolver.tailscale=true"
      - "--entrypoints.docker-proxy.address=:2376"
    environment:
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
    volumes:
      - /var/run/tailscale/tailscaled.sock:/var/run/tailscale/tailscaled.sock:z
      - /var/run/docker.sock:/var/run/docker.sock:roz
      - letsencrypt:/letsencrypt:Z
      - config:/dynamic-config:roZ
    labels:
      - "traefik.docker.network=proxy"

  whoami:
    image: traefik/whoami
    restart: always
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.${SERVER_NAME}.rule=Host(`${SERVER_ADDRESS}`) && Path(`/`)"
      - "traefik.http.routers.${SERVER_NAME}.entrypoints=websecure"
      - "traefik.http.routers.${SERVER_NAME}.tls.certresolver=${SERVER_RESOLVER}"

networks:
  proxy:
    name: proxy
    driver: bridge
    ipam:
      config:
        - subnet: 10.254.0.0/24
          gateway: 10.254.0.1
          ip_range: 10.254.0.128/25     # Docker auto-assigns ONLY from .128-.255

volumes:
  config:
  letsencrypt:
